#someid{
color: blue;
font-size: 50px;
}
body{
  font-family: 'Montserrat';
  text-align: center;
  background-color: #011627;
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0px;
  border-style: solid;
  margin-top:100px solid;
  border-top-width:45px;
  border-top-color: #011627;
  border-right-width: 45px;
  border-right-color: #74d6db;
  border-left-color:#74d6db;
  border-left-width: 45px;
  border-bottom-color:#74d6db;
  border-bottom-width: 45px;

}